
/.idea
*.xml
*.log
*.exe
/cmake-build-debug
*.iml
/.idea
/.idea
/.idea
.idea/modules.xml
*.xml
*.txt
*.xml
*.iml
*.xml
.idea/parallel-assignment-1-olesia-mykhailyshyn.iml
.idea/vcs.xml
/matplotlib-cpp
